<div class="content">
    <h1>Регистрация</h1> 
       <form action="" id="form">
            <div class="formControl">
                <div class="blank">
                    <div class="wrapper">
                        <div class="input-data"> 
                            <input type="number" required>
                            <div class="underline"></div>
                            <label>account_id </label>
                        </div>
                    </div>   
                </div>  
                <div class="blank">
                    <div class="wrapper">
                        <div class="input-data"> 
                            <input type="text" required>
                            <div class="underline"></div>
                            <label>Логин </label>
                        </div>
                    </div>   
                </div>  
                <div class="blank">
                    <div class="wrapper">
                        <div class="input-data"> 
                            <input type="text" required>
                            <div class="underline"></div>
                            <label>Пароль </label>
                        </div>
                    </div>   
                </div>  
                <input type="submit" class="btn">
            </div>
       </form>
</div>
