<app-header-page></app-header-page>
<div class="navbar">
  
  <table class="resp-tab">
    <thead>
        <tr>
          <th>Аккаут</th>
          <th> Имя и Фамилия </th>
          <th>Телефон</th>
          <th>Адрес</th>
          <th>Паспорт</th>
          <th>Серийный номер</th>
          <th>Баланс</th>
          <th>Дата Окончания</th>
          <th>Изменение</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of accounts">
            <td><span>Аккаут</span>{{ account.account_id }}</td>
            <td><span> Имя и Фамилия</span>{{ account.fio }}</td>
            <td><span>Телефон</span>{{ account.phone }}</td>
            <td><span>Адрес </span>{{ account.adress }}</td>
            <td><span>Паспорт </span>{{ account.passport_info }}</td>
            <td><span>Серийный номер </span>{{ account.stb_serial_number }}</td>
            <td><span>Баланс </span>{{ account.balance }}</td>
            <td><span>Дата Окончания </span>{{ account.end_date | date: "dd/MM/YYYY" }}</td>
            <td class="change"><span>Изменение </span>
              <i title="удалить" class="fa fa-trash" (click)="deleteAccount(account.account_id)"></i>
              <i title="изменить" class="fa fa-edit" [routerLink]="['/change', account.account_id]" routerLinkActive="router-link-active" ></i>
              <i title="посмотреть" class="fa fa-eye"></i>
            </td>
        </tr>
        
    </tbody>
</table>

  <div class="creat">
    <button routerLink="/creat">Создать</button>
  </div>
</div>
