<app-header-page></app-header-page>
<div class="navbar">
  <table class="table">
    <thead>
      <tr>
        <th>Аккаут</th>
        <th> Имя и Фамилия </th>
        <th>Телефон</th>
        <th>Адрес</th>
        <th>Паспорт</th>
        <th>Баланс</th>
        <th>Дата Окончания</th>
        <th>Серийный код карта</th>
        <th>Изменение</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let accounts of accounts">
        <td>{{ accounts.account_id }}</td>
        <td>{{ accounts.fio }}</td>
        <td>{{ accounts.phone }}</td>
        <td>{{ accounts.adress }}</td>
        <td>{{ accounts.passport_info }}</td>
        <td>{{ accounts.balance }}</td>
        <td>{{ accounts.end_date }}</td>
        <td>{{ accounts.stb_serial_number }}</td>
        <td class="change">
          <i class="fa fa-minus"></i>
          <i class="fa fa-edit"></i>
          <i class="fa fa-eye"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="creat">
    <button routerLink="/creat">Создать</button>
  </div>
</div>
