<app-header-page></app-header-page>
<div class="navbar">
  
  <table class="resp-tab">
    <thead>
        <tr>
          <th>Аккаут</th>
          <th> Имя и Фамилия </th>
          <th>Телефон</th>
          <th>Адрес</th>
          <th>Паспорт</th>
          <th>Серийный код карта</th>
          <th>Баланс</th>
          <th>Дата Окончания</th>
          <th>Изменение</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let accounts of accounts">
            <td><span>Аккаут</span>{{ accounts.account_id }}</td>
            <td><span> Имя и Фамилия</span>{{ accounts.fio }}</td>
            <td><span>Телефон</span>{{ accounts.phone }}</td>
            <td><span>Адрес </span>{{ accounts.adress }}</td>
            <td><span>Паспорт </span>{{ accounts.passport_info }}</td>
            <td><span>Серийный код карта </span>{{ accounts.stb_serial_number }}</td>
            <td><span>Баланс </span>{{ accounts.balance }}</td>
            <td><span>Дата Окончания </span>{{ accounts.end_date | date: "dd/MM/YYYY" }}</td>
            <td class="change"><span>Изменение </span>
              <i title="удалить" class="fa fa-minus"></i>
              <i title="изменить" class="fa fa-edit"></i>
              <i title="посмотреть" class="fa fa-eye"></i>
            </td>
        </tr>
        
    </tbody>
</table>

  <div class="creat">
    <button routerLink="/creat">Создать</button>
  </div>
</div>
