<app-header-page></app-header-page>
<div class="container">

  <div class="transaction-replenish_block">
    <h1>Пополнение</h1>

    <table class="resp-tab">
      <thead>
        <tr>
          <th>Дата</th>
          <th> Оператор </th>
          <th>Сумма</th>
          <th>Баланс После <br> Операции</th>
          <th>Имя Пользователя</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transactionR of transactionsReplenish">
          <td><span>Дата</span>{{ transactionR.date | date: 'dd/MM/Y' }}</td>
          <td><span> Оператор</span>{{ transactionR.operator_name }}</td>
          <td><span>Сумма</span>{{ transactionR.summ }}</td>
          <td><span>Баланс После Операции</span>{{ transactionR.balance_after }}</td>
          <td><span>Имя Пользователя </span>{{ transactionR.user_name }}</td>
        </tr>

      </tbody>
    </table>

  </div>

  <div class="transaction-withdrawal_block">
    <h1>Снятие</h1>

    <table class="resp-tab">
      <thead>
        <tr>
          <th>Дата</th>
          <th> Тариф </th>
          <th>Сумма</th>
          <th>Баланс После <br> Операции</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transactionW of transactionsWithdrawal">
          <td><span>Дата</span>{{ transactionW.date | date: 'dd/MM/Y' }}</td>
          <td><span> Тариф</span>{{ transactionW.tarif_name }}</td>
          <td><span>Сумма</span>{{ transactionW.summ }}</td>
          <td><span>Баланс После Операции</span>{{ transactionW.balance_after }}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
