<app-header-page></app-header-page>
<div class="container">

  <div class="transaction-replenish_block">
    <h1>Пополнение</h1>

    <table class="resp-tab">
      <thead>
        <tr>
          <th>Дата</th>
          <th> Банкомат </th>
          <th>Баланс</th>
          <th>Имя Использователя</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transactionR of transactionsReplenish">
          <td><span>Дата</span>{{ transactionR.date | date: 'dd/MM/Y' }}</td>
          <td><span> Банкомат</span>{{ transactionR.operator_name }}</td>
          <td><span>Баланс</span>{{ transactionR.summ }}</td>
          <td><span>Имя Использователя </span>{{ transactionR.user_name }}</td>
        </tr>

      </tbody>
    </table>

  </div>

  <div class="transaction-withdrawal_block">
    <h1>Снятие</h1>

    <table class="resp-tab">
      <thead>
        <tr>
          <th>Дата</th>
          <th> Тариф </th>
          <th>Баланс</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transactionW of transactionsWithdrawal">
          <td><span>Дата</span>{{ transactionW.date | date: 'dd/MM/Y' }}</td>
          <td><span> Тариф</span>{{ transactionW.tarif_name }}</td>
          <td><span>Баланс</span>{{ transactionW.summ }}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
