.container {
  max-width: 800px;
  height: 80vh;
  position: relative;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.form__block {
  width: 100%;
  height: 400px;
  align-items: center;
  display: flex;
  margin: 100px auto;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.input__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.last-child input {
  width: 100%;
}
input {
  width: 350px;
  height: 30px;
  padding: 3px 5px;
  border-radius: 30px;
  margin: 10px 5px;
  outline: none;
  border: none;
  border: 1px solid black;
  text-indent: 10px;
}
.button {
  padding: 5px 30px;
  border: 0;
  border-radius: 15px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}
.button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 767px) {
  .input__block {
    flex-direction: column;
  }
  .button {
    display: block;
    margin: 0 auto;
    width: 450px;
  }
  .input__block input {
    width: 450px;
  }
}
@media screen and (max-width: 520px) {
  .input__block input {
    width: 350px;
  }
  .button {
    width: 350px;
  }
}
@media screen and (max-width: 420px) {
  .input__block input {
    width: 250px;
  }
  .button {
    width: 250px;
  }
}
