<app-header-page></app-header-page>
 <div class="container">
    <div class="form__block">
        <form class="form" action="" [formGroup]="formChange" (ngSubmit)="sendChange()">
            <div class="input__block">
                <input type="text" name="" [value]="changeAccount?.fio" placeholder="Имя" formControlName="fio">
                <input type="text" name="" [value]="changeAccount?.adress" placeholder="Адрес" formControlName="address">
            </div>
            <div class="input__block">
                <input type="text" name="" [value]="changeAccount?.passport_info" placeholder="Паспорт" formControlName="passport">
                <input type="number" name="" [value]="changeAccount?.phone" placeholder="Телефон" formControlName="phone">
            </div>
    
            <div class="input__block last-child">
                <input type="text" style="display: none;" name="" [value]="changeAccount?.stb_serial_number" placeholder="Серийный номер" formControlName="card_number">
                
                <select name="tarif" id="" formControlName="tarif_id" >
                    <option [value]="changeTarifS.tarif_id" *ngFor="let changeTarifS of changeTarif">{{ changeTarifS.tarif_name }}</option>
                </select>
            </div>    
            <button class="button" type="submit">Изменить</button> 
        </form> 
    </div>
</div>
 
