.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.auth__block {
    width: 270px;
}
form {
    display: flex;
    flex-direction: column;
}
.logo {
    width: 105px;
    margin-bottom: 20px;
    align-self: center;
}
input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 0;
    outline: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
}
.submit {
    padding: 5px;
    border-radius: 15px;
    border: 0;
    background-color: #222;
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
}
.submit:active {
    opacity: 0.4;
}


.reg{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
.reg a{
    text-decoration: none;
    color:#000;
}
.reg a:hover{ 
    color:red;
}