<app-header-page></app-header-page>
 <div class="container">
    <div class="form__block">
        <form class="form" action="" [formGroup]="creatForm"  (ngSubmit)="creat()"> 
            <div class="input__block">
                <input type="text" name="" placeholder="ФИО" formControlName="fio">
                <input type="text" name="" placeholder="Адрес" formControlName="address">
            </div>
    
            <div class="input__block">
                <input type="text" name="" placeholder="Паспорт" formControlName="passport">
                <input type="number" name="" placeholder="Телефон" formControlName="phone">
            </div>
    
            <div class="input__block last-child">
                <input type="text"  name="" placeholder="Номер Карта" formControlName="card_number" >
            </div>    
            <button class="button" type="submit">Создать</button> 
        </form> 
    </div>
</div>
 