<app-header-page></app-header-page>
<div class="page-report">
    <form action="">
        <div class="container">
            <div class="blank"> 
                        <input type="date" name="" id="">
                        <input type="date" name="" id="">  
                    <select name="" id="">
                        <option value="0">Операторы</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                    <select name="" id="">
                        <option value="0">Пользователь</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
            </div>
            <div class="click">
                 <button >ок</button>
            </div>
        </div>
        <div class="content">

        </div>
    </form>
</div>
