.page-report {
  max-width: 800px;
  margin: 100px auto;
  padding: 30px;
}

.container .blank {
  display: flex;
  justify-content: space-around;
}

input {
  width: 20%;
  height: 30px;
  border-radius: 30px;
  outline: none;
  border: 1px solid #000;
  text-indent: 5px;
}

.container select {
  width: 20%;
  height: 30px;
  border-radius: 30px;
  outline: none;
  border: 1px solid #000;
  text-indent: 5px;
}

.click {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button { 
  width: 70px;
  height: 30px;
  background: #333333;
  color: #fff;
  border-radius: 30px;
  border: none;
} 
button:active {
  transform: scale(.9);
}  
.content {
  width: 100%; 
  margin-top: 30px;
} 
.resp-tab {
  width: 100%;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  margin: 30px auto 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
} 
.navbar {
  padding: 0 30px;
} 
.resp-tab th,
.resp-tab td {
  padding: 10px 5px;
  font-size: 12px;
  border: none;
  font-family: Verdana, sans-serif;
  border: 1px solid #00B2b2bf;
} 
.resp-tab th {
  color: #FFF;
  background: #00B2b2bf;
  font-weight: bold;
  border: 1px solid #dddddd;
  text-transform: uppercase;
  text-align: center;
} 
.resp-tab tr:nth-child(even) {
  background: #edf7ff;
} 
.resp-tab td span {
  background: #00B2b2bf;
  color: #FFF;
  display: none;
  font-size: 11px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
} 
@media(max-width: 800px) {
  .resp-tab thead {
    display: none;
  } 
  .resp-tab tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
  } 
  .resp-tab td {
    margin: 0 -1px -1px 0;
    padding-top: 35px;
    position: relative;
    width: 100%;
  } 
  .resp-tab td span {
    display: block;
  } 
  .container .blank{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container input{
    width: 100%;
    margin: 10px 0;
  } 
  .container select{
    width: 100%;
    margin: 10px 0;
  } 
  .container button{
    width: 20%;
    padding: 5px 10px;
    font-size: 15px;
  }
} 